.control {
  margin: 0 40px 20px 40px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.cb-pre {
  width: 95%;
  border-radius: 5px;
}

.layout {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  border-top: 1px solid #000;
}

.footer-cont > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.hom {
  display: none;
}

@media (min-width: 576px) {
  .control {
    height: 350px;
    width: 350px;
  }

  .cb-con {
    margin-bottom: 40px;
  }

  .footer-cont {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-cont > div {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .control {
    height: 400px;
    width: 400px;
  }

  .cb-pre {
    width: 70% !important;
    margin-bottom: 40px;
  }

  .footer-cont {
    justify-content: flex-end;
    margin-bottom: 60px;
  }

  .footer-cont > div {
    align-items: flex-start;
    width: 25%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .cb-pre {
    width: 70% !important;
    margin-bottom: 40px;
  }

  .control {
    width: 450px;
    height: 350px;
  }

  .footer-cont > div {
    width: 20%;
  }

  .hom {
    display: flex;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cb-pre {
    width: 50%;
  }

  .control {
    width: 450px;
    height: 450px;
  }
}
