.NOT{
  background: #AAAAAA;
}

.HOVER{
  -webkit-box-shadow: inset 0px 0px 29px 0px rgba(48,188,237,1);
  -moz-box-shadow: inset 0px 0px 29px 0px rgba(48,188,237,1);
  box-shadow: inset 0px 0px 29px 0px rgb(48, 188, 237);  
}

.ACTIVE{
  height: 150px;
  width: 150px;
  border-radius: 6px;
  border: 1px solid #969696;
  margin: 2px;
  cursor: pointer;
  background: #30bced;
}

.DEFAULTS{
  height: 150px;
  width: 150px;
  border-radius: 6px;
  border: 1px solid #969696;
  margin: 2px;
  cursor: pointer;
};

.DEFAULTS:hover{
  -webkit-box-shadow: inset 0px 0px 29px 0px rgba(48,188,237,1);
  -moz-box-shadow: inset 0px 0px 29px 0px rgba(48,188,237,1);
  box-shadow: inset 0px 0px 29px 0px rgb(48, 188, 237);
}

.DEFAULTS:active{
  background: #30bced;

}