* {
  box-sizing: border-box;
  
}

h1{  
  color: #979797;
}

.box {
  height: 150px;
  width: 150px;
  border-radius: 6px;
  background: rgba(48, 188, 237, 0.5);
  margin: 2px;
  cursor: pointer;
}


/* font-family: 'Pacifico', cursive;
font-family: 'Rubik', sans-serif; */